* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.6;
}

#homepage {
	text-align: center;
	background-image: url("images/beach.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

#homepage h1 {
	font-size: 50px;
	line-height: 1.2;
}

#homepage p {
	font-size: 25px;
}

#homepage .readmore {
	font-size: 16px;
	text-decoration: none;
	color: black;

	border: 2px solid rgb(10, 187, 231);
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
}

#homepage .readmore:hover {
	background-color: #97d0f1;
}

.section-a {
	padding: 20px;
	background: #97d0f1;
	color: #fff;
	text-align: center;
}
.section-b {
	padding: 20px;
	background: #f4f4f4;
	text-align: center;
}

.section-c {
	display: flex;
}

.section-c div {
	padding: 20px;
}

.section-c .box-1,
.section-c .box-3 {
	background: #97d0f1;
	color: #fff;
}

.section-c .box-2 {
	background: #f9f9f9;
}
